In [17]:
import pandas as pd
import numpy as np
import requests
import json

In [125]:
# GET /{lang}/datos/{category}/{widget}?[query]
lang = 'en'
category = 'generacion'
widget = 'estructura-generacion'

start_date = '2022-01-01T00:00'
end_date = '2022-01-5T00:00'
time_trunc = 'day'


query = f'https://apidatos.ree.es/{lang}/datos/{category}/{widget}?start_date={start_date}&end_date={end_date}&time_trunc={time_trunc}&geo_trunc=electric_system&geo_limit=peninsular&geo_ids=8741'
query

'https://apidatos.ree.es/en/datos/generacion/estructura-generacion?start_date=2022-01-01T00:00&end_date=2022-01-5T00:00&time_trunc=day&geo_trunc=electric_system&geo_limit=peninsular&geo_ids=8741'

In [151]:
d = requests.get(query)
d.json()['included']
df = pd.json_normalize(d.json()['included'], record_path=[['attributes', 'values']], meta=[['attributes','title'], ['attributes','type']])

In [164]:
df.groupby(['datetime', 'attributes.type']).percentage.sum().reset_index().head(20)

                         datetime   attributes.type  percentage
0   2022-01-01T00:00:00.000+01:00      No-Renovable    0.509759
1   2022-01-01T00:00:00.000+01:00         Renovable    0.490241
2   2022-01-01T00:00:00.000+01:00  Total generation    1.000000
3   2022-01-02T00:00:00.000+01:00      No-Renovable    0.601114
4   2022-01-02T00:00:00.000+01:00         Renovable    0.398886
5   2022-01-02T00:00:00.000+01:00  Total generation    1.000000
6   2022-01-03T00:00:00.000+01:00      No-Renovable    0.566433
7   2022-01-03T00:00:00.000+01:00         Renovable    0.433567
8   2022-01-03T00:00:00.000+01:00  Total generation    1.000000
9   2022-01-04T00:00:00.000+01:00      No-Renovable    0.448070
10  2022-01-04T00:00:00.000+01:00         Renovable    0.551930
11  2022-01-04T00:00:00.000+01:00  Total generation    1.000000
12  2022-01-05T00:00:00.000+01:00      No-Renovable    0.397245
13  2022-01-05T00:00:00.000+01:00         Renovable    0.602755
14  2022-01-05T00:00:00.000+01:00  Total generation    1.000000